#body {
  background-color: #f1f3f6;
}

.header {
  min-height: 80px;
  background-color: #fff;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
}

.sidenav {
  height: 100%;
  width: 0px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
}

.sidenav p {
  padding: 8px 8px 8px 32px;
  font-size: 25px;
  color: #818181;
  display: block;
}

.sidenav p:hover {
  color: #f1f1f1;
  cursor: pointer;
}

.closebtn {
  position: absolute;
  top: 0;
  right: 10px;
  font-size: 36px;
}

.openbtn {

  font-size: 30px;
  cursor: pointer;
  margin-left: 10px;
}

.imgbutt {
  border-color: red;
  background-color: #f5faff;
  padding: 8px 20px;
  border-radius: 6px;
  font-weight: 600;
}

.collect {
  border: none;
  background-color: #f5faff;
  padding: 8px 20px;
  border-radius: 6px;
  font-weight: 600;
}

.loginBtn {
  background-color: red;
  border: red;
  padding: 6px 10px;
  border-radius: 8px;
  color: white;
}

.reorder {
  background-color: red;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  margin-top: 10px;
  padding: 7px 200px;
  border-radius: 10px;
  border: none;
}

.menuHead {
  font-size: xx-large;
  font-weight: 700;
  margin-left: 40px;

}

.under {
  text-decoration: underline red;
}

.cardsRoud {
  height: 200px;
  width: 200px;
  background-color: #ffffff;
  border-radius: 50% 50% 4% 50%;
  margin-top: 30px;
  cursor: pointer;
}

.right {
  display: flex;
  align-items: flex-end;
}

.fa-circle {
  margin-top: 37px;
  margin-left: 180px;
}

.img {
  height: 120px;
}

.imgecontont {
  display: flex;
  justify-content: center;
  align-items: center;
}

.value {
  display: flex;
  justify-content: center;
}

.main {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.hafhr {
  width: 50px;
  margin: 0 auto;
  border-radius: 2px;
  border: 2px #d1042a solid;
}

.cardsRoud:hover {
  margin-top: -7px;
  transition: 0.5s;
}